.hamburger-menu{
    display: none;
    .hamburger-menu-line{
        background-color: #FFFFFF;
        width: 16px;
        height: 3px;
        margin: 5px;
    }
    @include tablet{
        display: block;
    }
}